﻿

/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT

    http://opensource.org/licenses/MIT

    100% Free To use For Personal And Commercial Use.

    IN EXCHANGE JUST TELL PEOPLE ABOUT THIS WEBSITE
   
========================================================  */

/*================================
    GENERAL STYLES
==================================*/

@import url(http://fonts.googleapis.com/css?family=Raleway); /* FREE GOOGLE FONTS */

body {
    font-family: 'Raleway', sans-serif;
    line-height: 30px;
    font-size: 16px;
    background-color: #ffffff;
    padding-top:0px;
}
h3 {
    font-weight:900;
    color:#3c8dbc;
}
.set-clr {
    color:#3c8dbc;
}

 /*================================
    SIDE  SECTION STYLES
==================================*/


    .user-wrapper .btn {
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        margin: 5px;
    }

    .user-wrapper .description {
        padding: 25px;
        background-color: #fff;
    }
    .user-wrapper img {
        width:100%;
    }


/* SOCIAL BUTTONS */
.btn-social {
    color: white;
    opacity: 0.8;
}

    .btn-social:hover {
        color: white;
        opacity: 1;
        text-decoration: none;
    }

.btn-facebook {
    background-color: #3b5998;
}

.btn-twitter {
    background-color: #00aced;
}

.btn-linkedin {
    background-color: #0e76a8;
}

.btn-google {
    background-color: #c32f10;
}
 /*================================
    PORTFOLIO SECTION STYLES
==================================*/


.img-wrapper {
    text-align:center;
    padding-bottom:30px;
    line-height:25px;
}
    .img-wrapper img {
        margin:8px;
    }

    /*================================
    FOOTER SECTION STYLES
==================================*/

footer {
    padding: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: 900;
}

    footer a, footer a:hover {
        color: #808080;
        text-decoration: none;
    }